<?xml version="1.0" encoding="UTF-8"?>

<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">
	<listeners>
		<listener class-name="com.orangehrm.listners.TestListener"></listener>
	</listeners>
	<test name="OrangeHRMTest">
		<classes>

			 <class name="com.orangehrm.test.DBVerificationTest"></class>
			<!-- <class name="com.orangehrm.test.ApiTest"></class>-->
			

		</classes>

	</test>

</suite>