<?xml version="1.0" encoding="UTF-8"?>

<suite name="OrangeHRMSuite">
	<listeners>
		<listener class-name="com.orangehrm.listners.TestListener"></listener>
	</listeners>
	<test name="OrangeHRMTest_chrome">
		<parameter name="browser" value="chrome"/>
		<classes>
			<!-- <class name="com.orangehrm.test.LoginPageTest"/> -->
			<class name="com.orangehrm.test.HomePageTest"/>
		</classes>
	</test>
</suite>
